.elementor-130 .elementor-element.elementor-element-8e3201c>.elementor-container {
	max-width: 1353px;
}

.elementor-130 .elementor-element.elementor-element-8e3201c:not(.elementor-motion-effects-element-type-background),
.elementor-130 .elementor-element.elementor-element-8e3201c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #182723;
}

.elementor-130 .elementor-element.elementor-element-8e3201c {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 30px 0px 10px 0px;
}

.elementor-130 .elementor-element.elementor-element-8e3201c>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-130 .elementor-element.elementor-element-97150b3 {
	text-align: left;
}

.elementor-130 .elementor-element.elementor-element-97150b3 img {
	width: auto;
}

.elementor-130 .elementor-element.elementor-element-6ebf24c {
	text-align: justify;
	color: #FFFFFF;
	font-family: "Roboto", Sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}

.elementor-130 .elementor-element.elementor-element-6ebf24c>.elementor-widget-container {
	margin: 0px 16px 0px 0px;
}

.elementor-130 .elementor-element.elementor-element-0bfefe8 {
	text-align: left;
}

.elementor-130 .elementor-element.elementor-element-0bfefe8 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Poppins", Sans-serif;
	font-size: 24px;
	font-weight: 500;
}

.elementor-130 .elementor-element.elementor-element-de0c300 .menu-item a.hfe-menu-item {
	padding-left: 19px;
	padding-right: 19px;
}

.elementor-130 .elementor-element.elementor-element-de0c300 .menu-item a.hfe-sub-menu-item {
	padding-left: calc(19px + 20px);
	padding-right: 19px;
}

.elementor-130 .elementor-element.elementor-element-de0c300 .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
	padding-left: calc(19px + 40px);
	padding-right: 19px;
}

.elementor-130 .elementor-element.elementor-element-de0c300 .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
	padding-left: calc(19px + 60px);
	padding-right: 19px;
}

.elementor-130 .elementor-element.elementor-element-de0c300 .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
	padding-left: calc(19px + 80px);
	padding-right: 19px;
}

.elementor-130 .elementor-element.elementor-element-de0c300 .menu-item a.hfe-menu-item,
.elementor-130 .elementor-element.elementor-element-de0c300 .menu-item a.hfe-sub-menu-item {
	padding-top: 6px;
	padding-bottom: 6px;
}

.elementor-130 .elementor-element.elementor-element-de0c300 a.hfe-menu-item,
.elementor-130 .elementor-element.elementor-element-de0c300 a.hfe-sub-menu-item {
	font-family: "Poppins", Sans-serif;
	font-weight: 400;
}

.elementor-130 .elementor-element.elementor-element-de0c300 .menu-item a.hfe-menu-item,
.elementor-130 .elementor-element.elementor-element-de0c300 .sub-menu a.hfe-sub-menu-item {
	color: #FFFFFF;
}

.elementor-130 .elementor-element.elementor-element-de0c300 .sub-menu,
.elementor-130 .elementor-element.elementor-element-de0c300 nav.hfe-dropdown,
.elementor-130 .elementor-element.elementor-element-de0c300 nav.hfe-dropdown-expandible,
.elementor-130 .elementor-element.elementor-element-de0c300 nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-130 .elementor-element.elementor-element-de0c300 nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
	background-color: #fff;
}

.elementor-130 .elementor-element.elementor-element-de0c300 .sub-menu a.hfe-sub-menu-item,
.elementor-130 .elementor-element.elementor-element-de0c300 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-130 .elementor-element.elementor-element-de0c300 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-130 .elementor-element.elementor-element-de0c300 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-130 .elementor-element.elementor-element-de0c300 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
	padding-top: 15px;
	padding-bottom: 15px;
}

.elementor-130 .elementor-element.elementor-element-de0c300 .sub-menu li.menu-item:not(:last-child),
.elementor-130 .elementor-element.elementor-element-de0c300 nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-130 .elementor-element.elementor-element-de0c300 nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
	border-bottom-style: solid;
	border-bottom-color: #c4c4c4;
	border-bottom-width: 1px;
}

.elementor-130 .elementor-element.elementor-element-669c639 {
	text-align: left;
}

.elementor-130 .elementor-element.elementor-element-669c639 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Poppins", Sans-serif;
	font-size: 24px;
	font-weight: 500;
}

.elementor-130 .elementor-element.elementor-element-8c7ca08.elementor-view-stacked .elementor-icon {
	background-color: #F8F0E3;
}

.elementor-130 .elementor-element.elementor-element-8c7ca08.elementor-view-framed .elementor-icon,
.elementor-130 .elementor-element.elementor-element-8c7ca08.elementor-view-default .elementor-icon {
	fill: #F8F0E3;
	color: #F8F0E3;
	border-color: #F8F0E3;
}

.elementor-130 .elementor-element.elementor-element-8c7ca08 {
	--icon-box-icon-margin: 8px;
}

.elementor-130 .elementor-element.elementor-element-8c7ca08 .elementor-icon {
	font-size: 21px;
}

.elementor-130 .elementor-element.elementor-element-8c7ca08 .elementor-icon-box-wrapper {
	text-align: left;
}

.elementor-130 .elementor-element.elementor-element-8c7ca08 .elementor-icon-box-title {
	color: #FFFFFF;
}

.elementor-130 .elementor-element.elementor-element-8c7ca08 .elementor-icon-box-title,
.elementor-130 .elementor-element.elementor-element-8c7ca08 .elementor-icon-box-title a {
	font-family: "Poppins", Sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

.elementor-130 .elementor-element.elementor-element-ff2697a.elementor-view-stacked .elementor-icon {
	background-color: #F8F0E3;
}

.elementor-130 .elementor-element.elementor-element-ff2697a.elementor-view-framed .elementor-icon,
.elementor-130 .elementor-element.elementor-element-ff2697a.elementor-view-default .elementor-icon {
	fill: #F8F0E3;
	color: #F8F0E3;
	border-color: #F8F0E3;
}

.elementor-130 .elementor-element.elementor-element-ff2697a {
	--icon-box-icon-margin: 11px;
}

.elementor-130 .elementor-element.elementor-element-ff2697a .elementor-icon {
	font-size: 19px;
}

.elementor-130 .elementor-element.elementor-element-ff2697a .elementor-icon-box-wrapper {
	text-align: left;
}

.elementor-130 .elementor-element.elementor-element-ff2697a .elementor-icon-box-title {
	color: #FFFFFF;
}

.elementor-130 .elementor-element.elementor-element-ff2697a .elementor-icon-box-title,
.elementor-130 .elementor-element.elementor-element-ff2697a .elementor-icon-box-title a {
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.elementor-130 .elementor-element.elementor-element-ae41117.elementor-view-stacked .elementor-icon {
	background-color: #F8F0E3;
}

.elementor-130 .elementor-element.elementor-element-ae41117.elementor-view-framed .elementor-icon,
.elementor-130 .elementor-element.elementor-element-ae41117.elementor-view-default .elementor-icon {
	fill: #F8F0E3;
	color: #F8F0E3;
	border-color: #F8F0E3;
}

.elementor-130 .elementor-element.elementor-element-ae41117 {
	--icon-box-icon-margin: 11px;
}

.elementor-130 .elementor-element.elementor-element-ae41117 .elementor-icon {
	font-size: 19px;
}

.elementor-130 .elementor-element.elementor-element-ae41117 .elementor-icon-box-wrapper {
	text-align: left;
}

.elementor-130 .elementor-element.elementor-element-ae41117 .elementor-icon-box-title {
	color: #FFFFFF;
}

.elementor-130 .elementor-element.elementor-element-ae41117 .elementor-icon-box-title,
.elementor-130 .elementor-element.elementor-element-ae41117 .elementor-icon-box-title a {
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.elementor-130 .elementor-element.elementor-element-76fa11b:not(.elementor-motion-effects-element-type-background),
.elementor-130 .elementor-element.elementor-element-76fa11b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #303E38;
}

.elementor-130 .elementor-element.elementor-element-76fa11b {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-130 .elementor-element.elementor-element-76fa11b>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-130 .elementor-element.elementor-element-65eb35e {
	text-align: center;
}

.elementor-130 .elementor-element.elementor-element-65eb35e .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: 400;
}

@media(max-width:767px) {
	.elementor-130 .elementor-element.elementor-element-6ebf24c {
		text-align: justify;
	}

	.elementor-130 .elementor-element.elementor-element-6ebf24c>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-130 .elementor-element.elementor-element-65eb35e .elementor-heading-title {
		font-size: 15px;
	}
}

@media(min-width:768px) {
	.elementor-130 .elementor-element.elementor-element-bd31d40 {
		width: 35.84%;
	}

	.elementor-130 .elementor-element.elementor-element-d1740c5 {
		width: 28.388%;
	}

	.elementor-130 .elementor-element.elementor-element-2e63237 {
		width: 35.104%;
	}
}