.elementor-46 .elementor-element.elementor-element-1a0aa26>.elementor-container {
    min-height: 700px;
}

.elementor-46 .elementor-element.elementor-element-1a0aa26:not(.elementor-motion-effects-element-type-background),
.elementor-46 .elementor-element.elementor-element-1a0aa26>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-46 .elementor-element.elementor-element-1a0aa26 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -1px;
    margin-bottom: -1px;
    padding: 1px -2px 0px -2px;
}

.elementor-46 .elementor-element.elementor-element-1a0aa26>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-46 .elementor-element.elementor-element-de0e2e0.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-46 .elementor-element.elementor-element-de0e2e0.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-46 .elementor-element.elementor-element-de0e2e0.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-46 .elementor-element.elementor-element-de0e2e0:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-46 .elementor-element.elementor-element-de0e2e0>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #041611;
}

.elementor-46 .elementor-element.elementor-element-de0e2e0>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: -5px -3px 0px 0px;
    --e-column-margin-right: -3px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-46 .elementor-element.elementor-element-de0e2e0>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-46 .elementor-element.elementor-element-9f074aa {
    --spacer-size: 128px;
}

.elementor-46 .elementor-element.elementor-element-ab05c3e {
    --grid-template-columns: repeat(1, auto);
    --icon-size: 14px;
    --grid-column-gap: 7px;
    --grid-row-gap: 8px;
}

.elementor-46 .elementor-element.elementor-element-ab05c3e .elementor-widget-container {
    text-align: center;
}

.elementor-46 .elementor-element.elementor-element-ab05c3e .elementor-social-icon {
    background-color: #FFFFFF00;
    --icon-padding: 0.4em;
}

.elementor-46 .elementor-element.elementor-element-ab05c3e>.elementor-widget-container {
    margin: 0px 0px 303px 0px;
}

.elementor-46 .elementor-element.elementor-element-5c83999 .elementor-button .elementor-align-icon-right {
    margin-left: 13px;
}

.elementor-46 .elementor-element.elementor-element-5c83999 .elementor-button .elementor-align-icon-left {
    margin-right: 13px;
}

.elementor-46 .elementor-element.elementor-element-5c83999 .elementor-button {
    background-color: #61CE7000;
}

.elementor-46 .elementor-element.elementor-element-5c83999>.elementor-widget-container {
    margin: 0px 51px 0px 110px;
    padding: 0px 22px 0px 10px;
}

.elementor-46 .elementor-element.elementor-element-a7bd98f .elementor-button .elementor-align-icon-right {
    margin-left: 13px;
}

.elementor-46 .elementor-element.elementor-element-a7bd98f .elementor-button .elementor-align-icon-left {
    margin-right: 13px;
}

.elementor-46 .elementor-element.elementor-element-a7bd98f .elementor-button {
    background-color: #61CE7000;
}

.elementor-46 .elementor-element.elementor-element-a7bd98f>.elementor-widget-container {
    margin: 0px 24px 0px 8px;
    padding: 0px 47px 0px 0px;
}

.elementor-46 .elementor-element.elementor-element-500019b {
    --spacer-size: 115px;
}

.elementor-46 .elementor-element.elementor-element-9a63d51>.elementor-element-populated {
    margin: -5px 0px -3px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-46 .elementor-element.elementor-element-38b6a4c .elementor-repeater-item-9bedc77 .swiper-slide-bg {
    background-color: #FFFFFF;
    background-image: url(../../2023/03/website-banner.jpg);
    background-size: cover;
}

.elementor-46 .elementor-element.elementor-element-38b6a4c .elementor-repeater-item-9bedc77 .elementor-background-overlay {
    background-color: #FFFFFF91;
}

.elementor-46 .elementor-element.elementor-element-38b6a4c .elementor-repeater-item-15dfd76 .elementor-background-overlay {
    background-color: #FFFFFF91;
}


.elementor-46 .elementor-element.elementor-element-38b6a4c .elementor-repeater-item-8083c81 .elementor-background-overlay {
    background-color: #FFFFFF91;
}

.elementor-46 .elementor-element.elementor-element-38b6a4c .swiper-slide {
    height: 800px;
    transition-duration: calc(5000ms*1.2);
}

.elementor-46 .elementor-element.elementor-element-38b6a4c .swiper-slide-contents {
    max-width: 62%;
}

.elementor-46 .elementor-element.elementor-element-38b6a4c .swiper-slide-inner {
    text-align: center;
}

.elementor-46 .elementor-element.elementor-element-38b6a4c .swiper-slide-inner .elementor-slide-heading:not(:last-child) {
    margin-bottom: 9px;
}

.elementor-46 .elementor-element.elementor-element-38b6a4c .elementor-slide-heading {
    color: #041611;
    font-family: "Roboto", Sans-serif;
    font-size: 78px;
    font-weight: 600;
}

.elementor-46 .elementor-element.elementor-element-38b6a4c .swiper-slide-inner .elementor-slide-description:not(:last-child) {
    margin-bottom: 27px;
}

.elementor-46 .elementor-element.elementor-element-38b6a4c .elementor-slide-description {
    color: #041611;
    font-family: "Roboto", Sans-serif;
    font-size: 31px;
    font-weight: 400;
}

.elementor-46 .elementor-element.elementor-element-38b6a4c .elementor-slide-button {
    font-family: "Poppins", Sans-serif;
    font-size: 19px;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #041611;
    border-color: #BA7A7A00;
}

.elementor-46 .elementor-element.elementor-element-38b6a4c .elementor-slide-button:hover {
    color: #F8CA0C;
    background-color: #041611;
}

.elementor-46 .elementor-element.elementor-element-38b6a4c>.elementor-widget-container {
    margin: 1px 0px 1px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-46 .elementor-element.elementor-element-9f49459>.elementor-container {
    max-width: 1470px;
    min-height: 400px;
}

.elementor-46 .elementor-element.elementor-element-9f49459:not(.elementor-motion-effects-element-type-background),
.elementor-46 .elementor-element.elementor-element-9f49459>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-46 .elementor-element.elementor-element-9f49459 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-46 .elementor-element.elementor-element-9f49459>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-46 .elementor-element.elementor-element-d31fe0d>.elementor-element-populated {
    margin: 19px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-46 .elementor-element.elementor-element-7a6ff05 {
    text-align: center;
}

.elementor-46 .elementor-element.elementor-element-7a6ff05 .elementor-heading-title {
    color: #041611;
    font-family: "Poppins", Sans-serif;
    font-size: 47px;
    font-weight: 600;
}

.elementor-46 .elementor-element.elementor-element-7a6ff05>.elementor-widget-container {
    margin: 4px 4px 4px 4px;
}

.elementor-46 .elementor-element.elementor-element-cec21ae {
    margin-top: 0px;
    margin-bottom: 30px;
}

.elementor-bc-flex-widget .elementor-46 .elementor-element.elementor-element-6acb848.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-46 .elementor-element.elementor-element-6acb848.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-46 .elementor-element.elementor-element-6acb848>.elementor-element-populated,
.elementor-46 .elementor-element.elementor-element-6acb848>.elementor-element-populated>.elementor-background-overlay,
.elementor-46 .elementor-element.elementor-element-6acb848>.elementor-background-slideshow {
    border-radius: 0px 0px 0px 0px;
}

.elementor-46 .elementor-element.elementor-element-6acb848>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: -1px -1px -1px -1px;
}

.elementor-46 .elementor-element.elementor-element-7031b53 {
    text-align: justify;
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-46 .elementor-element.elementor-element-b50045d>.elementor-element-populated,
.elementor-46 .elementor-element.elementor-element-b50045d>.elementor-element-populated>.elementor-background-overlay,
.elementor-46 .elementor-element.elementor-element-b50045d>.elementor-background-slideshow {
    border-radius: 0px 0px 0px 0px;
}

.elementor-46 .elementor-element.elementor-element-b50045d>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: -1px -1px -1px -1px;
}

.elementor-46 .elementor-element.elementor-element-36ccb87>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: -1px -1px -1px -1px;
}

.elementor-46 .elementor-element.elementor-element-36ccb87>.elementor-element-populated,
.elementor-46 .elementor-element.elementor-element-36ccb87>.elementor-element-populated>.elementor-background-overlay,
.elementor-46 .elementor-element.elementor-element-36ccb87>.elementor-background-slideshow {
    border-radius: 0px 0px 0px 0px;
}

.elementor-46 .elementor-element.elementor-element-36ccb87>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-46 .elementor-element.elementor-element-7728c89.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-46 .elementor-element.elementor-element-7728c89.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-46 .elementor-element.elementor-element-7728c89>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: -1px -1px -1px -1px;
}

.elementor-46 .elementor-element.elementor-element-7728c89>.elementor-element-populated,
.elementor-46 .elementor-element.elementor-element-7728c89>.elementor-element-populated>.elementor-background-overlay,
.elementor-46 .elementor-element.elementor-element-7728c89>.elementor-background-slideshow {
    border-radius: 0px 0px 0px 0px;
}

.elementor-46 .elementor-element.elementor-element-7728c89>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-46 .elementor-element.elementor-element-b2151b3 {
    text-align: justify;
    color: #000000;
}

.elementor-46 .elementor-element.elementor-element-786a594>.elementor-container {
    min-height: 400px;
}

.elementor-46 .elementor-element.elementor-element-786a594:not(.elementor-motion-effects-element-type-background),
.elementor-46 .elementor-element.elementor-element-786a594>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F8F8F8;
}

.elementor-46 .elementor-element.elementor-element-786a594 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-46 .elementor-element.elementor-element-786a594>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-46 .elementor-element.elementor-element-64b47f0>.elementor-container {
    max-width: 1097px;
}

.elementor-46 .elementor-element.elementor-element-64b47f0 {
    margin-top: 42px;
    margin-bottom: 42px;
}

.elementor-46 .elementor-element.elementor-element-3a5e4d9>.elementor-element-populated,
.elementor-46 .elementor-element.elementor-element-3a5e4d9>.elementor-element-populated>.elementor-background-overlay,
.elementor-46 .elementor-element.elementor-element-3a5e4d9>.elementor-background-slideshow {
    border-radius: 0px 0px 0px 0px;
}

.elementor-46 .elementor-element.elementor-element-3a5e4d9>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 1px 1px 1px 1px;
}

.elementor-46 .elementor-element.elementor-element-7580f1b img {
    width: 100%;
}

.elementor-bc-flex-widget .elementor-46 .elementor-element.elementor-element-d313d76.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-46 .elementor-element.elementor-element-d313d76.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-46 .elementor-element.elementor-element-d313d76>.elementor-element-populated,
.elementor-46 .elementor-element.elementor-element-d313d76>.elementor-element-populated>.elementor-background-overlay,
.elementor-46 .elementor-element.elementor-element-d313d76>.elementor-background-slideshow {
    border-radius: 0px 0px 0px 0px;
}

.elementor-46 .elementor-element.elementor-element-d313d76>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: -1px -1px -1px -1px;
}

.elementor-46 .elementor-element.elementor-element-cfe400d .elementor-heading-title {
    color: #182723;
    font-family: "Roboto", Sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.elementor-46 .elementor-element.elementor-element-cfe400d>.elementor-widget-container {
    margin: 0px 0px -10px 0px;
}

.elementor-46 .elementor-element.elementor-element-ff01c7d .elementor-heading-title {
    color: #041611;
    font-family: "Poppins", Sans-serif;
    font-size: 47px;
    font-weight: 600;
}

.elementor-46 .elementor-element.elementor-element-ff01c7d>.elementor-widget-container {
    margin: -13px 0px -13px 0px;
}

.elementor-46 .elementor-element.elementor-element-8dea1a2 .elementor-heading-title {
    color: #041611;
    font-family: "Poppins", Sans-serif;
    font-size: 47px;
    font-weight: 600;
}

.elementor-46 .elementor-element.elementor-element-8dea1a2>.elementor-widget-container {
    margin: -13px 0px -13px 0px;
}

.elementor-46 .elementor-element.elementor-element-85a78e3 {
    text-align: justify;
    color: #020202;
}

.elementor-46 .elementor-element.elementor-element-381039c .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 19px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2.9px;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #041611;
}

.elementor-46 .elementor-element.elementor-element-381039c .elementor-button:hover,
.elementor-46 .elementor-element.elementor-element-381039c .elementor-button:focus {
    color: #F8CA0C;
    background-color: #05231B;
}

.elementor-46 .elementor-element.elementor-element-381039c .elementor-button:hover svg,
.elementor-46 .elementor-element.elementor-element-381039c .elementor-button:focus svg {
    fill: #F8CA0C;
}

.elementor-46 .elementor-element.elementor-element-f1c0c58>.elementor-container {
    min-height: 400px;
}

.elementor-46 .elementor-element.elementor-element-f1c0c58:not(.elementor-motion-effects-element-type-background),
.elementor-46 .elementor-element.elementor-element-f1c0c58>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-46 .elementor-element.elementor-element-f1c0c58 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-46 .elementor-element.elementor-element-f1c0c58>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-46 .elementor-element.elementor-element-4e525ee {
    text-align: center;
}

.elementor-46 .elementor-element.elementor-element-4e525ee .elementor-heading-title {
    color: #182723;
    font-family: "Poppins", Sans-serif;
    font-size: 17px;
    font-weight: 600;
}

.elementor-46 .elementor-element.elementor-element-4e525ee>.elementor-widget-container {
    margin: 20px 0px -22px 0px;
}

.elementor-46 .elementor-element.elementor-element-895ed21 {
    text-align: center;
}

.elementor-46 .elementor-element.elementor-element-895ed21 .elementor-heading-title {
    color: #182723;
    font-family: "Poppins", Sans-serif;
    font-size: 51px;
    font-weight: 600;
}

.elementor-46 .elementor-element.elementor-element-d65ba82>.elementor-container {
    max-width: 1097px;
}

.elementor-46 .elementor-element.elementor-element-d65ba82 {
    margin-top: 42px;
    margin-bottom: 42px;
}

.elementor-bc-flex-widget .elementor-46 .elementor-element.elementor-element-9161759.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-46 .elementor-element.elementor-element-9161759.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-46 .elementor-element.elementor-element-9161759>.elementor-element-populated,
.elementor-46 .elementor-element.elementor-element-9161759>.elementor-element-populated>.elementor-background-overlay,
.elementor-46 .elementor-element.elementor-element-9161759>.elementor-background-slideshow {
    border-radius: 0px 0px 0px 0px;
}

.elementor-46 .elementor-element.elementor-element-9161759>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: -1px -1px -1px -1px;
}

.elementor-46 .elementor-element.elementor-element-8bc5b15 .elementor-heading-title {
    color: #041611;
    font-family: "Poppins", Sans-serif;
    font-size: 28px;
    font-weight: 600;
}

.elementor-46 .elementor-element.elementor-element-8bc5b15>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-46 .elementor-element.elementor-element-fa57e02 {
    color: #000000;
}

.elementor-46 .elementor-element.elementor-element-fa57e02>.elementor-widget-container {
    margin: 0px 0px -25px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-46 .elementor-element.elementor-element-8ea3f6f .elementor-heading-title {
    color: #041611;
    font-family: "Poppins", Sans-serif;
    font-size: 28px;
    font-weight: 600;
}

.elementor-46 .elementor-element.elementor-element-8ea3f6f>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-46 .elementor-element.elementor-element-11ec552 {
    color: #000000;
}

.elementor-46 .elementor-element.elementor-element-11ec552>.elementor-widget-container {
    margin: 0px 0px -25px 0px;
}

.elementor-46 .elementor-element.elementor-element-8ef1f1d .elementor-heading-title {
    color: #041611;
    font-family: "Poppins", Sans-serif;
    font-size: 28px;
    font-weight: 600;
}

.elementor-46 .elementor-element.elementor-element-8ef1f1d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-46 .elementor-element.elementor-element-6db87e5 {
    color: #000000;
}

.elementor-46 .elementor-element.elementor-element-6db87e5>.elementor-widget-container {
    margin: 0px 0px -19px 0px;
}

.elementor-46 .elementor-element.elementor-element-469a552>.elementor-element-populated,
.elementor-46 .elementor-element.elementor-element-469a552>.elementor-element-populated>.elementor-background-overlay,
.elementor-46 .elementor-element.elementor-element-469a552>.elementor-background-slideshow {
    border-radius: 0px 0px 0px 0px;
}

.elementor-46 .elementor-element.elementor-element-469a552>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 1px 1px 1px 1px;
}

.elementor-46 .elementor-element.elementor-element-2499f67 img {
    width: 100%;
}

.elementor-46 .elementor-element.elementor-element-8d1b13f>.elementor-container {
    min-height: 400px;
}

.elementor-46 .elementor-element.elementor-element-8d1b13f:not(.elementor-motion-effects-element-type-background),
.elementor-46 .elementor-element.elementor-element-8d1b13f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-46 .elementor-element.elementor-element-8d1b13f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-46 .elementor-element.elementor-element-8d1b13f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-46 .elementor-element.elementor-element-824eb58 {
    text-align: center;
}

.elementor-46 .elementor-element.elementor-element-824eb58 .elementor-heading-title {
    color: #182723;
    font-family: "Poppins", Sans-serif;
    font-size: 17px;
    font-weight: 600;
}

.elementor-46 .elementor-element.elementor-element-824eb58>.elementor-widget-container {
    margin: 20px 0px -22px 0px;
}

.elementor-46 .elementor-element.elementor-element-059c109 {
    text-align: center;
}

.elementor-46 .elementor-element.elementor-element-059c109 .elementor-heading-title {
    color: #182723;
    font-family: "Poppins", Sans-serif;
    font-size: 51px;
    font-weight: 600;
}

.elementor-46 .elementor-element.elementor-element-bd4fde7>.elementor-container {
    max-width: 1097px;
}

.elementor-46 .elementor-element.elementor-element-bd4fde7 {
    margin-top: 42px;
    margin-bottom: 42px;
}

.elementor-46 .elementor-element.elementor-element-bdfb020>.elementor-element-populated,
.elementor-46 .elementor-element.elementor-element-bdfb020>.elementor-element-populated>.elementor-background-overlay,
.elementor-46 .elementor-element.elementor-element-bdfb020>.elementor-background-slideshow {
    border-radius: 0px 0px 0px 0px;
}

.elementor-46 .elementor-element.elementor-element-bdfb020>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: -1px -1px -1px -1px;
}

.elementor-46 .elementor-element.elementor-element-780a16f .eael-img-accordion {
    height: 400px;
}

.elementor-46 .elementor-element.elementor-element-780a16f .eael-img-accordion {
    border-radius: 4px;
}

.elementor-46 .elementor-element.elementor-element-780a16f .eael-img-accordion a:first-child {
    border-radius: 4px 0 0 4px;
}

.elementor-46 .elementor-element.elementor-element-780a16f .eael-img-accordion a:last-child {
    border-radius: 0 4px 4px 0;
}

.elementor-46 .elementor-element.elementor-element-780a16f .eael-img-accordion .eael-image-accordion-hover:before {
    background-color: rgba(0, 0, 0, .3);
}

.elementor-46 .elementor-element.elementor-element-780a16f .eael-img-accordion .eael-image-accordion-hover:hover::before {
    background-color: rgba(0, 0, 0, .5);
}

.elementor-46 .elementor-element.elementor-element-780a16f .eael-img-accordion .eael-image-accordion-hover.overlay-active:hover::before {
    background-color: rgba(0, 0, 0, .5);
}

.elementor-46 .elementor-element.elementor-element-780a16f .eael-img-accordion .overlay .img-accordion-title {
    color: #fff !important;
}

.elementor-46 .elementor-element.elementor-element-780a16f .eael-img-accordion .overlay p {
    color: #fff;
}

.elementor-46 .elementor-element.elementor-element-780a16f>.elementor-widget-container {
    margin: -8px -8px -8px -8px;
}

.elementor-46 .elementor-element.elementor-element-3f4c69f>.elementor-element-populated,
.elementor-46 .elementor-element.elementor-element-3f4c69f>.elementor-element-populated>.elementor-background-overlay,
.elementor-46 .elementor-element.elementor-element-3f4c69f>.elementor-background-slideshow {
    border-radius: 0px 0px 0px 0px;
}

.elementor-46 .elementor-element.elementor-element-3f4c69f>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: -1px -1px -1px -1px;
}

.elementor-46 .elementor-element.elementor-element-1ac4aeb .eael-img-accordion {
    height: 400px;
}

.elementor-46 .elementor-element.elementor-element-1ac4aeb .eael-img-accordion {
    border-radius: 4px;
}

.elementor-46 .elementor-element.elementor-element-1ac4aeb .eael-img-accordion a:first-child {
    border-radius: 4px 0 0 4px;
}

.elementor-46 .elementor-element.elementor-element-1ac4aeb .eael-img-accordion a:last-child {
    border-radius: 0 4px 4px 0;
}

.elementor-46 .elementor-element.elementor-element-1ac4aeb .eael-img-accordion .eael-image-accordion-hover:before {
    background-color: rgba(0, 0, 0, .3);
}

.elementor-46 .elementor-element.elementor-element-1ac4aeb .eael-img-accordion .eael-image-accordion-hover:hover::before {
    background-color: rgba(0, 0, 0, .5);
}

.elementor-46 .elementor-element.elementor-element-1ac4aeb .eael-img-accordion .eael-image-accordion-hover.overlay-active:hover::before {
    background-color: rgba(0, 0, 0, .5);
}

.elementor-46 .elementor-element.elementor-element-1ac4aeb .eael-img-accordion .overlay .img-accordion-title {
    color: #fff !important;
}

.elementor-46 .elementor-element.elementor-element-1ac4aeb .eael-img-accordion .overlay p {
    color: #fff;
}

.elementor-46 .elementor-element.elementor-element-1ac4aeb>.elementor-widget-container {
    margin: -8px -8px -8px -8px;
}

.elementor-46 .elementor-element.elementor-element-61644e8>.elementor-element-populated,
.elementor-46 .elementor-element.elementor-element-61644e8>.elementor-element-populated>.elementor-background-overlay,
.elementor-46 .elementor-element.elementor-element-61644e8>.elementor-background-slideshow {
    border-radius: 0px 0px 0px 0px;
}

.elementor-46 .elementor-element.elementor-element-61644e8>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: -1px -1px -1px -1px;
}

.elementor-46 .elementor-element.elementor-element-b86e438 .eael-img-accordion {
    height: 400px;
}

.elementor-46 .elementor-element.elementor-element-b86e438 .eael-img-accordion {
    border-radius: 4px;
}

.elementor-46 .elementor-element.elementor-element-b86e438 .eael-img-accordion a:first-child {
    border-radius: 4px 0 0 4px;
}

.elementor-46 .elementor-element.elementor-element-b86e438 .eael-img-accordion a:last-child {
    border-radius: 0 4px 4px 0;
}

.elementor-46 .elementor-element.elementor-element-b86e438 .eael-img-accordion .eael-image-accordion-hover:before {
    background-color: rgba(0, 0, 0, .3);
}

.elementor-46 .elementor-element.elementor-element-b86e438 .eael-img-accordion .eael-image-accordion-hover:hover::before {
    background-color: rgba(0, 0, 0, .5);
}

.elementor-46 .elementor-element.elementor-element-b86e438 .eael-img-accordion .eael-image-accordion-hover.overlay-active:hover::before {
    background-color: rgba(0, 0, 0, .5);
}

.elementor-46 .elementor-element.elementor-element-b86e438 .eael-img-accordion .overlay .img-accordion-title {
    color: #fff !important;
}

.elementor-46 .elementor-element.elementor-element-b86e438 .eael-img-accordion .overlay p {
    color: #fff;
}

.elementor-46 .elementor-element.elementor-element-b86e438>.elementor-widget-container {
    margin: -8px -8px -8px -8px;
}

.elementor-46 .elementor-element.elementor-element-22bc8be>.elementor-container {
    min-height: 400px;
}

.elementor-46 .elementor-element.elementor-element-22bc8be:not(.elementor-motion-effects-element-type-background),
.elementor-46 .elementor-element.elementor-element-22bc8be>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F8F8F8;
}

.elementor-46 .elementor-element.elementor-element-22bc8be {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 37px 0px;
}

.elementor-46 .elementor-element.elementor-element-22bc8be>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-46 .elementor-element.elementor-element-9a037bf {
    text-align: center;
}

.elementor-46 .elementor-element.elementor-element-9a037bf .elementor-heading-title {
    color: #041611;
    font-family: "Poppins", Sans-serif;
    font-size: 17px;
    font-weight: 600;
}

.elementor-46 .elementor-element.elementor-element-9a037bf>.elementor-widget-container {
    margin: 20px 0px -22px 0px;
}

.elementor-46 .elementor-element.elementor-element-1f71a38 {
    text-align: center;
}

.elementor-46 .elementor-element.elementor-element-1f71a38 .elementor-heading-title {
    color: #041611;
    font-family: "Poppins", Sans-serif;
    font-size: 51px;
    font-weight: 600;
}

.elementor-msie .elementor-46 .elementor-element.elementor-element-1fc35c9 .elementor-portfolio-item {
    width: calc(100% / 3);
}

.elementor-46 .elementor-element.elementor-element-1fc35c9 .elementor-post__thumbnail__link {
    padding-bottom: calc(0.66 * 100%);
}

.elementor-46 .elementor-element.elementor-element-1fc35c9:after {
    content: "0.66";
    position: absolute;
    color: transparent;
}

.elementor-46 .elementor-element.elementor-element-1fc35c9 {
    --grid-column-gap: 0px;
    --grid-row-gap: 9px;
}

.elementor-46 .elementor-element.elementor-element-1fc35c9 a .elementor-portfolio-item__overlay {
    background-color: #505450;
}

.elementor-46 .elementor-element.elementor-element-0be71a0 {
    padding: -3px -3px -3px -3px;
}

.elementor-46 .elementor-element.elementor-element-51c7d65>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 1px 1px 1px 1px;
}

.elementor-46 .elementor-element.elementor-element-f9f965c iframe {
    height: 547px;
    filter: brightness(78%) contrast(135%) saturate(0%) blur(0px) hue-rotate(0deg);
}

.elementor-46 .elementor-element.elementor-element-f9f965c:hover iframe {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

@media(max-width:1024px) {
    .elementor-46 .elementor-element.elementor-element-7728c89>.elementor-element-populated {
        border-width: 0px 0px 0px 0px;
    }

    .elementor-msie .elementor-46 .elementor-element.elementor-element-1fc35c9 .elementor-portfolio-item {
        width: calc(100% / 2);
    }
}

@media(max-width:767px) {
    .elementor-46 .elementor-element.elementor-element-1a0aa26>.elementor-container {
        min-height: 370px;
    }

    .elementor-46 .elementor-element.elementor-element-de0e2e0>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-46 .elementor-element.elementor-element-9a63d51>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-46 .elementor-element.elementor-element-38b6a4c .swiper-slide {
        height: 400px;
    }

    .elementor-46 .elementor-element.elementor-element-38b6a4c .swiper-slide-contents {
        max-width: 100%;
    }

    .elementor-46 .elementor-element.elementor-element-38b6a4c .elementor-slide-heading {
        font-size: 36px;
    }

    .elementor-46 .elementor-element.elementor-element-38b6a4c .elementor-slide-description {
        font-size: 15px;
    }

    .elementor-46 .elementor-element.elementor-element-7a6ff05 .elementor-heading-title {
        font-size: 26px;
    }

    .elementor-46 .elementor-element.elementor-element-cec21ae {
        margin-top: -9px;
        margin-bottom: 0px;
    }

    .elementor-46 .elementor-element.elementor-element-6acb848 {
        width: 50%;
    }

    .elementor-46 .elementor-element.elementor-element-7031b53 {
        text-align: justify;
    }

    .elementor-46 .elementor-element.elementor-element-b50045d {
        width: 50%;
    }

    .elementor-bc-flex-widget .elementor-46 .elementor-element.elementor-element-b50045d.elementor-column .elementor-widget-wrap {
        align-items: center;
    }

    .elementor-46 .elementor-element.elementor-element-b50045d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }

    .elementor-46 .elementor-element.elementor-element-b50045d.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-46 .elementor-element.elementor-element-b50045d>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-46 .elementor-element.elementor-element-36ccb87 {
        width: 50%;
    }

    .elementor-bc-flex-widget .elementor-46 .elementor-element.elementor-element-36ccb87.elementor-column .elementor-widget-wrap {
        align-items: center;
    }

    .elementor-46 .elementor-element.elementor-element-36ccb87.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }

    .elementor-46 .elementor-element.elementor-element-36ccb87>.elementor-element-populated {
        border-width: 1px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-46 .elementor-element.elementor-element-7728c89 {
        width: 50%;
    }

    .elementor-46 .elementor-element.elementor-element-7728c89>.elementor-element-populated {
        border-width: 1px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-46 .elementor-element.elementor-element-ff01c7d .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-46 .elementor-element.elementor-element-8dea1a2 .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-46 .elementor-element.elementor-element-895ed21 .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-46 .elementor-element.elementor-element-895ed21>.elementor-widget-container {
        margin: 9px 0px 0px 0px;
    }

    .elementor-46 .elementor-element.elementor-element-d65ba82 {
        margin-top: -9px;
        margin-bottom: 0px;
    }

    .elementor-46 .elementor-element.elementor-element-9161759 {
        width: 100%;
    }

    .elementor-46 .elementor-element.elementor-element-8bc5b15 .elementor-heading-title {
        font-size: 21px;
    }

    .elementor-46 .elementor-element.elementor-element-8ea3f6f .elementor-heading-title {
        font-size: 21px;
    }

    .elementor-46 .elementor-element.elementor-element-8ef1f1d .elementor-heading-title {
        font-size: 21px;
    }

    .elementor-46 .elementor-element.elementor-element-469a552 {
        width: 100%;
    }

    .elementor-46 .elementor-element.elementor-element-469a552>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-46 .elementor-element.elementor-element-059c109 .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-46 .elementor-element.elementor-element-059c109>.elementor-widget-container {
        margin: 9px 0px 0px 0px;
    }

    .elementor-46 .elementor-element.elementor-element-bd4fde7 {
        margin-top: -9px;
        margin-bottom: 0px;
    }

    .elementor-46 .elementor-element.elementor-element-bdfb020 {
        width: 50%;
    }

    .elementor-46 .elementor-element.elementor-element-3f4c69f {
        width: 50%;
    }

    .elementor-46 .elementor-element.elementor-element-61644e8 {
        width: 50%;
    }

    .elementor-46 .elementor-element.elementor-element-61644e8>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-46 .elementor-element.elementor-element-1f71a38 .elementor-heading-title {
        font-size: 34px;
    }

    .elementor-msie .elementor-46 .elementor-element.elementor-element-1fc35c9 .elementor-portfolio-item {
        width: calc(100% / 1);
    }

    .elementor-46 .elementor-element.elementor-element-f9f965c iframe {
        height: 330px;
    }
}

@media(min-width:768px) {
    .elementor-46 .elementor-element.elementor-element-de0e2e0 {
        width: 3.088%;
    }

    .elementor-46 .elementor-element.elementor-element-9a63d51 {
        width: 96.912%;
    }

    .elementor-46 .elementor-element.elementor-element-3a5e4d9 {
        width: 46.809%;
    }

    .elementor-46 .elementor-element.elementor-element-d313d76 {
        width: 53.191%;
    }

    .elementor-46 .elementor-element.elementor-element-9161759 {
        width: 54.921%;
    }

    .elementor-46 .elementor-element.elementor-element-469a552 {
        width: 44.852%;
    }
}

/* Start custom CSS for button, class: .elementor-element-5c83999 */
.rotate {
    transform: rotate(-90deg);
}

/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-a7bd98f */
.rotate {
    transform: rotate(-90deg);
}

/* End custom CSS */